body {
    margin: 0;
    /* font-family: 'Poppins',
        sans-serif; */
}


header {
    padding: 2px 15px 3px 15px;
    height: 80px;
    width: auto;
    background-color: cornflowerblue;
    display: flex;
}

.logo {
    height: 70px;
    width: 400px;
    border: 1px solid;
    display: flex;
    margin: 0.5% 0% 0% 0%;
}

.logo img {
    height: 50px;
    width: 27%;
    margin: 2.5% 0% 0% 0%;
}

.logo h1 {
    font-size: 34px;
    margin: 3.2% 2% 2% 3%;
    color: papayawhip;
}

.search {
    border: 1px solid;
    float: right;
    margin: 0% 0% 0% 25%;
    width: 50%;
}

#head-src {
    margin: 4% 0% 4% 1%;
    float: right;
}

#button {
    height: 35px;
    width: 11%;
    background: radial-gradient(white, transparent);
}







nav {
    padding: 2px 15px 3px 15px;
    height: 50px;
    width: auto;
    background-color: rgb(117, 148, 205);
}

main {
    padding: 2px 15px 3px 15px;
    height: auto;
    width: auto;
    background-color: bisque;
}

.img-con {
    background-image: url(bg/bg-.avif);
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

article {
    border: 2px solid red;
    height: 425px;
    width: 450px;
    float: right;
    margin: 25px 25px 5px 25px;
    background-color: white;
}


.art-head {
    display: flex;
    height: 10%;
    border: 1px solid;
    width: auto;
    margin: 10px 10px 10px 10px;
}

.art-head img {
    height: 100%;
    width: 25%;
}

.art-head h4 {
    color: wheat;
    margin: 14px 5px 33px 14px;
    font-size: 22px;
}

.art-con {
    margin: 10px 10px 10px 10px;
}

.art-con h2 {
    font-size: 46px;
}

.art-con p {
    font-size: 22px;
}

.art-con a {
    text-decoration: none;
    display: block;
    color: gold;
}



.content-note {
    height: 80px;
    width: 90%;
    border: 1px solid #996e69;
    margin: -40px 0px 0px 5%;
    background: #e6d5d5;
    display: flex;
}

.condition {
    height: 93%;
    width: 25%;
    border: 1px solid gray;
    margin: 2px;
}

.product-display {
    height: 600px;
    width: 100%;
    border: 1px solid blueviolet;
    margin: 35px 0px 0px 0px;
    display: grid;
    grid-template-columns: auto auto auto;

}

#displayp {
    height: 95%;
    width: 90%;
    border: 1px solid;
    margin: 5px 20px 5px 20px;
}

.product-off {
    height: 140px;
    width: auto;
    border: 2px solid #9d9d57;
    margin: 50px 0px 50px 0px;
    display: flex;
}

#off-sells {
    border: 1px solid red;
    height: 90%;
    width: 45%;
    margin: 5px 30px 0px 30px;
    padding: 2px 2px 2px 2px;
}

.deal-product {
    height: 600px;
    width: 100%;
    border: 1px solid blueviolet;
    margin: 35px 0px 0px 0px;

}





.new-product {
    height: 240px;
    width: auto;
    border: 1px solid blueviolet;
    margin: 60px 0px 0px 0px;
    display: flex;
}

#new-product-display {
    height: 197px;
    width: 360px;
    border: 1px solid blue;
    padding: 6px 6px 6px 6px;
    margin: 19px;
}

.top-brand {
    height: 110px;
    width: auto;
    display: flex;
    border: 1px solid black;
    margin-top: 35px;
}

#brand {
    border: 1px solid red;
    height: 97px;
    width: 180px;
    padding: 6px 6px 6px 6px;
    margin: 0px 6px 0px 6px;
}


.custom-head {}

.customers-review {
    height: 512px;
    width: auto;
    border: 1px solid rebeccapurple;
    margin-top: 35px;
    padding: 32px;

}

.rev {
    height: 230px;
    width: auto;
    border: 1px solid;
}

.rev1 {
    display: flex;
}

#rev-top {
    height: 250px;
    width: 404px;
    margin-right: 2px;
    border: 1px solid;
    padding: 2px;
}

.rev2 {
    display: flex;
    margin-top: 2px;
}

#rev-bottom {
    height: 250px;
    width: 404px;
    margin-right: 2px;
    border: 1px solid red;
    padding: 2px;
}

footer {
    padding: 2px 15px 3px 15px;
    height: 80px;
    width: auto;
    background-color: cornflowerblue;

}

.clear {
    overflow: hidden;
}